<div class="container"> 
    <p class="turn_info <%='hide' if @winner != nil%>">It's Player <%=@player.name%>'s turn, drop your disc:</p>
    <p class="win_info <%='hide' if @winner == nil%>">Player <%=@winnername%> wins!</p>
    <div class="<%='hide' if @winner == nil%>"><%=button_to 'RESTART', connect4_home_path, method: :get, class: "restart_button" %></div>
    <table class= "board_container">
        <tbody>
            <tr class = "button-banner <%='hide'if @winner != nil%>">
                <td><%= button_to '', nodes_click1_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink"%></td>
                <td><%= button_to '', nodes_click2_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink" %></td>
                <td><%= button_to '', nodes_click3_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink" %></td>
                <td><%= button_to '', nodes_click4_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink" %></td>
                <td><%= button_to '', nodes_click5_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink" %></td>
                <td><%= button_to '', nodes_click6_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink" %></td>
                <td><%= button_to '', nodes_click7_path, method: :post, class: @player.name == 'B'? "button_blue":"button_pink" %></td>
            </tr>
            <tr>
                <% @row7.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @row6.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @row5.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @row4.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @row3.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @row2.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
            <tr>
                <% @row1.each do |rowCell|%>
                <td>
                    <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"></div>
                </td>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>
