<h1>Add a new node</h1>
<%=form_for @node do |f|%>
    <p>
        <%= f.label :rowNumber%>
        <%= f.number_field :rowNumber%>
    </p>
    <p>
        <%= f.label :columnNumber%>
        <%= f.number_field :columnNumber%>
    </p>
    <p>
        <%= f.label :belongsTo%>
        <%= f.text_field :belongsTo%>
    </p>
    <p>
        <%= f.submit "Add new node"%>
    </p>
<% end %>