<div>wins!!! Congratulations!!!</div>

<table>
    <tbody>
        <tr>
            <th>row 7</th>
            <% @row7.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
        <tr>
            <th>row 6</th>
            <% @row6.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
        <tr>
            <th>row 5</th>
            <% @row5.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
        <tr>
            <th>row 4</th>
            <% @row4.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
        <tr>
            <th>row 3</th>
            <% @row3.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
        <tr>
            <th>row 2</th>
            <% @row2.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
        <tr>
            <th>row 1</th>
            <% @row1.each do |rowCell|%>
            <td>
                <div class= "circle <%='pink' if rowCell.belongsTo == 'A'%><%='blue' if rowCell.belongsTo == 'B'%>"><%=rowCell.rowNumber%>,<%=rowCell.columnNumber%></div>
            </td>
            <% end %>
        </tr>
    </tbody>
</table>